.head-style{
    color: #120E43;
    text-align: center;
    margin-top: 15px;
}

.form-design{
    padding: 30px;
    border-radius: 10px;
    background-color: #120E43;
}

.form-design input{
    border-style: none;
    border-radius: 5px;
    height: 40px;
}

.form-design textarea{
    border-style: none;
    border-radius: 5px;
    height: 100px;
}

.form-design .button{
    background-color: #4DD637;
    color: white;
}

@media (max-width: 500px) {
    .head-style{
        padding-top: 20px;
        font-size: 80%;
    }
    .form-design{
        padding: 15px;
        background-color: #120E43;
        margin-bottom: 20px;
    }
    .form-design input{
        border-style: none;
        border-radius: 5px;
        height: 30px;
    }
    .form-design textarea{
        border-style: none;
        border-radius: 5px;
    }
    .form-design .button{
        background-color: #4DD637;
        color: white;
        margin-bottom: 10px;
    }
}